<div>
<div class="toolbar" role="banner">
  <div class="menuButton">
      <p-button type="button" label="Menú" icon="fa fa-bars" (click)="showMenu($event)"></p-button>
  </div>
  <div class="toolbarImg">
    <img
      width="80"
      alt="Naturgy"
      src="../assets/naturgy_logo.jpg"
    />
  </div>
</div>

<div class="content" role="main">
    <p-panelMenu *ngIf="showMenuBool" #menu [model]="items" [multiple]="false"></p-panelMenu>
</div>
<div class="tabNavigator">
    <p-tabMenu *ngIf="showTab" [model]="itemsTab">
        <ng-template pTemplate="item" let-item let-i="index">
            <div style="position: relative; text-align: center; min-width: 10em">
                <div class="ui-menuitem-text">
                    {{item.label}}
                </div>
                <a tabindex="0" class="ui-menuitem-icon" (click)="closeItem($event, i)" style="position: absolute; right: -1em; top: -.5em; padding: 0">
                    <span class="fa fa-times"></span>
                </a>
            </div>
        </ng-template>
    </p-tabMenu>
</div>
<router-outlet></router-outlet>
<footer>
  <div class="foot">
    <div class="textNedgia">
      <span>Nedgia SA</span>
      <div class="footDate">
          <span>{{ fecha | date:'dd-MM-yyyy HH:mm:ss' }}</span>
        </div>
    </div>
  </div>
</footer>
